[submodule "aizel-face-model-service"]
	path = aizel-face-model-service
	url = git@github.com:AizelNetwork/aizel-face-model-service.git
[submodule "aizel-face-recognition"]
	path = aizel-face-recognition
	url = git@github.com:AizelNetwork/aizel-face-recognition.git
[submodule "aizel-peaq-combinder"]
	path = aizel-peaq-combinder
	url = git@github.com:AizelNetwork/aizel-peaq-combinder.git
